~/.dotfiles/.gitignore



# Don't track runtime/system/private files
.DS_Store
.zsh_sessions/
.zcompcache/
.ssh/
.gnupg/
═══════════════════════════
###------ Raycast ------### 
.config/raycast/extensions/
═════════════════════════════
###------ GitHub CLI------###
.config/gh/hosts.yml
═════════════════════════
###------Stardew------###
.config/StardewValley

═════════════════════════
###------ Misc ------###

.config/qBittorent
.config/fish
.config/cava

